<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="include/admin/adminHeader::html('产品管理')" ></head>

<script>
    $(function () {
        var pid=getUrlParms("pid");
        var vue=new Vue({
            el:"#workingArea",
            data:{
                singleProductImages:[],
                detailProductImages:[],
                product:"",
                category:'',
                singleFile:'',
                detailFile:''
            },
            mounted:function () {
                //this.getProductAndCategory();
                this.getDetailImages();
                this.getSingleImages();
            },
            methods:{
                    getProductAndCategory:function () {

                    axios.get("products/"+pid).then(function (response) {
                        vue.product=response.data;
                        vue.category=response.data.category;
                    });
                },

                getDetailImages:function () {
                    axios.get( "products/"+pid+"/productImages?type=detail").then(function (response) {
                        vue.detailProductImages=response.data;
                    });
                },
                getSingleImages:function () {
                    axios.get( "products/"+pid+"/productImages?type=single").then(function (response) {
                        vue.singleProductImages=response.data;
                    });
                },
                addSingle:function () {
                    if(!checkEmpty(this.singleFile,"单个图片")){
                        return;
                    }
                    var formData=new FormData();
                    formData.append("img",this.singleFile);
                    axios.post("productImages?type=single&pid="+pid,formData).then(function (response) {
                        vue.getSingleImages();
                        $("#singlePic").val('');
                        vue.singleFile = null;
                    });
                },
                addDetail:function () {
                    if(!checkEmpty(this.detailFile,"详情图片")){
                        return;
                    }
                    var formData=new FormData();
                    formData.append("img",this.detailFile);
                    axios.post("productImages?type=detail&pid="+pid,formData).then(function (response) {
                        vue.getDetailImages();
                        $("#detailPic").val('');
                        vue.detailFile = null;
                    });
                },
                getSingleFile:function (e) {
                    this.singleFile=e.target.files[0];
                },
                getDetailFile:function (e) {
                    this.detailFile=e.target.files[0];
                },
                deleteBean: function (id) {
                    if(!checkDeleteLink())
                        return;

                    axios.delete("productImages/"+id).then(function(response){
                        vue.getDetailImages();
                        vue.getSingleImages();
                    });
                },

            }

        });
    });
</script>
<body>

<div th:replace="include/admin/adminNavigator::html" ></div>
<div id="workingArea">
<ol class="breadcrumb">
    <li><a href="admin_category_list">所有分类</a></li>
    <li><a :href="'admin_product_list?cid='+category.id">{{category.name}}</a></li>
    <li class="active">{{product.name}}</li>
    <li class="active">产品图片管理</li>
</ol>
    <table class="addPictureTable" align="center">
<tr>
    <td class="addPictureTableTD">
<div>
    <div class="panel panel-warning addPictureDiv">
        <div class="panel-heading">新增产品<b class="text-primary"> 单个 </b>图片</div>
        <div class="panel-body">
            <table class="addTable">
        <tr><td>请选择本地图片 尺寸400X400 为佳</td></tr>
                <tr>
                    <td>
                        <input id="singlePic" type="file" @change="getSingleFile($event)">
                    </td>
                </tr>
                <tr class="submit">
                    <td alin="center">
                        <button type="submit" @click="addSingle" class="btn btn-success">提交</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <table class="table table-striped table-bordered table-hover  table-condensed">
        <thead>
        <tr>
            <th>ID</th>
            <th>产品单个图片缩略图</th>
            <th>删除</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="img in singleProductImages">
            <td>{{img.id}}</td>
            <td><a title="点击查看原图" :href="'img/productSingle/'+img.id+'.jpg'">
                <img :src="'img/productSingle/'+img.id+'.jpg'" height="50px"></a>
            </td>
            <td><a href="#nowhere" @click="deleteBean(img.id)"><span class="glyphicon glyphicon-trash"></span></a> </td>
        </tr>
        </tbody>
    </table>
</div>
    </td>
    <td class="addPictureTableTD">
        <div>
            <div class="panel panel-warning addPictureDiv">
                <div class="panel-heading">新增产品<b class="text-primary">详情</b>图片 </div>
                <div class="panel-body">
                    <table class="addTable">
                        <tr>
                            <td>请选择本地图片 宽度700 为佳</td>
                        </tr>
                        <tr>
                            <td><input id="detailPic" type="file" @change="getDetailFile($event)" name="image"></td>
                        </tr>
                        <tr class="submitTR">
                            <td align="center">
                                <button type="submit"  @click="addDetail" class="btn btn-success">提交</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <table class="table table-striped table-bordered table-hover  table-condensed">
                <thead>
                <tr class="success">
                    <th >ID</th>
                    <th> 产品详情缩略图</th>
                    <th>删除</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="img in detailProductImages">
                    <td>{{img.id}}</td>
                    <td><a :href="'img/productDetail/'+img.id+'.jpg'" title="点击查看原图">
                        <img :src="'img/productDetail/'+img.id+'.jpg'" height="50px"></a> </td>
                    <td><a href="#nowhere" @click="deleteBean(img.id)"><span class="glyphicon glyphicon-trash"></span></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </td>
</tr>

    </table>



</div>



<div th:replace="include/admin/adminFooter::html" ></div>
</body>
</html>